@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    /* Headings */
    h1 {
        @apply text-4xl font-bold tracking-tight;
    }

    h2 {
        @apply text-3xl font-semibold tracking-tight;
    }

    h3 {
        @apply text-2xl font-semibold;
    }

    h4 {
        @apply font-semibold;
    }

    /* Body text */
    p {
        @apply text-base;
    }

    /* Links */
    a {
        @apply cursor-pointer text-primary-600 hover:underline dark:text-primary-400;
    }

    /* Code */
    code {
        @apply rounded px-1.5 py-0.5 font-mono text-sm;
    }

    /* Small text */
    small {
        @apply text-sm;
    }

    /* Form elements */
    label {
        @apply text-sm font-medium;
    }

    input,
    textarea,
    select {
        @apply text-sm focus:border-primary-600 focus:outline-none dark:focus:border-primary-400;
        /* font-family: Inter, Helvetica, sans-serif; */
    }
}

body {
    font-family: Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
    height: 100%; /* Ensure they fill the viewport */
}

.reset-tw,
.reset-tw * {
    all: revert !important;
}
